# 1. Seleccionar 1 columna

In [1]:
import pandas as pd

In [2]:
# leyendo el archivo csv
df_family = pd.read_csv("familia.csv")
df_family.head()

   Nombres   Edad genero       Trabajo
0   Moises     24      M   Programador
1  Lluvia      46      F     Repostera
2   Aaron      22      M          Chef
3    Itzel     28      F       Doctora
4  Alberto     26      M  Biotecnologo

## 1.1 Syntax 1

In [18]:
# Seleccionar una columna con [] (forma preferida de seleccionar una columna)
df_family['Nombres']
print(type(df_family['Nombres']))

<class 'pandas.core.series.Series'>

In [15]:
# Series: atributos y m√©todos
df_family['Nombres'].index
df_family['Nombres'].head()

0     Moises
1    Lluvia
2     Aaron
3      Itzel
4    Alberto
Name: Nombres, dtype: object

## 1.2 Syntax 2

In [17]:
# Seleccionar una columna con
df_family.Nombres

0       Moises
1      Lluvia
2       Aaron
3        Itzel
4      Alberto
5       Junuen
6    Francisco
Name: Nombres, dtype: object

In [ ]:
# Seleccionar una columna con  . (errores que encontraras)
## erroes al tener nombre con espacios
df_family.Nombres Hi