In [2]:
import pandas as pd

In [10]:
# leyendo el archivo csv
df_familia = pd.read_csv("familia.csv")
df_familia.head()

   Nombres  Edad genero       Trabajo
0   Moises    24      M   Programador
1  Lluvia     46      F     Repostera
2   Aaron     22      M          Chef
3    Itzel    28      F       Doctora
4  Alberto    26      M  Biotecnologo

# 1 Seleccionar dos o mas columnas

In [11]:
# Seleccionar 2 columnas usando [[]]
df_familia[['Nombres','Edad']]

     Nombres  Edad
0     Moises    24
1    Lluvia     46
2     Aaron     22
3      Itzel    28
4    Alberto    26
5     Junuen    27
6  Francisco    20

In [13]:
# Revisar el tipo de data de la seleccion
type(df_familia[['Nombres','Edad']])

pandas.core.frame.DataFrame

In [14]:
# Selecionar 2 or mas columnas usando [[]]
df_familia[['Nombres','Edad','genero']]

     Nombres  Edad genero
0     Moises    24      M
1    Lluvia     46      F
2     Aaron     22      M
3      Itzel    28      F
4    Alberto    26      M
5     Junuen    27      F
6  Francisco    20     M