In [1]:
import pandas as pd

In [2]:
# Leyendo el archivo csv
df_familia = pd.read_csv("familia.csv")
df_familia

     Nombres  Edad genero          Trabajo  Años Trabajando
0     Moises    24      M      Programador                1
1    Lluvia     46      F        Repostera               30
2     Aaron     22      M             Chef                2
3      Itzel    28      F          Doctora                5
4    Alberto    26      M     Biotecnologo                3
5     Junuen    27      F  Ing. Industrial                4
6  Francisco    20     M           Locutor                2

# 1 Value Counts

In [6]:
# contar los elementos en la columna "Nombres"
# Funcion len

len(df_familia['Nombres'])
# metodo .count()
df_familia['genero'].count()

7

In [7]:
# contar elementos "genero" por categoria
df_familia['genero'].value_counts()

M     3
F     3
M     1
Name: genero, dtype: int64

In [8]:
# Obtener la frecuencia relativa (dividir todos los valores entre la suma)
df_familia['genero'].value_counts(normalize=True)

M     0.428571
F     0.428571
M     0.142857
Name: genero, dtype: float64

In [9]:
# Contar elementos de la columna "Trabajo" por categoria
df_familia['Trabajo'].value_counts()

Programador        1
Repostera          1
Chef               1
Doctora            1
Biotecnologo       1
Ing. Industrial    1
Locutor            1
Name: Trabajo, dtype: int64

In [10]:
# Obtener la frecuencia relativa y redondear a 2 decimales
df_familia['Trabajo'].value_counts(normalize=True).round(2)

Programador        0.14
Repostera          0.14
Chef               0.14
Doctora            0.14
Biotecnologo       0.14
Ing. Industrial    0.14
Locutor            0.14
Name: Trabajo, dtype: float64